
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #E5B80B
}

.logo img {
  height: 50px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #0D0D0DEB;
  font-weight: bold;
}

.search-bar input {
  padding: 5px;
}

.icons a {
  margin: 0 10px;
}

.icons img {
  height: 30px;
}

/* Banner Styles */
.banner {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.banner h2 {
  margin: 0;
  font-size: 24px;
}

.banner p {
  margin: 5px 0 0;
  font-size: 16px;
}

/* Shop Page Styles */
.shop-page {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid yellow; /* Yellow border around each product card */
  border-radius: 10px;
  margin: 10px;
  width: 200px; /* Adjust width for medium size */
  text-align: center;
  text-decoration: none;
  color: black; /* Adjust text color as needed */
}

.product-card:hover {
  border-color: #E5B80B /* Example: Change border color on hover */
}

.product-image img {
  width: 100%; /* Ensure image fills its container */
}

.product-details {
  padding: 10px;
}

.product-price {
  font-weight: bold;
  margin-top: 5px;
}

.product-rating {
  font-size: 14px;
  color: gray;
}


.product-details {
  margin-top: 10px;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* Checkout Page Styles */
.checkout-page {
  padding: 20px;
}

.order-details {
  margin-bottom: 20px;
}

.promo-code input {
  padding: 5px;
  margin-right: 10px;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #909e14;
  color: white;
  border: none;
  cursor: pointer;
}
/* src/index.css */

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo {
  width: 150px; /* Adjust size as needed */
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer-section {
  margin-right: 20px; /* Adjust spacing between sections */
}

.footer-section h4 {
  font-size: 1rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-payment {
  text-align: center;
}

.payment-icons img {
  width: 50px; /* Adjust size of payment method logos */
  margin: 0 5px;
}
